.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #212121;
}

select{
  cursor: pointer;
}

Body{
  background: rgba(0, 0, 0, 0.481);
}

.react-chatbot-kit-chat-input {
  display: none;
}

.react-chatbot-kit-chat-btn-send {
  display: none;
}

.react-chatbot-kit-chat-header{
  display: none;
}

.react-chatbot-kit-chat-bot-message {
  font-size: 20px;
}

.react-chatbot-kit-chat-bot-message-container {
  margin-bottom: 16px;
}
