.allContainer{
    display: flex;
    justify-content: center;
}

.form{
    border-style: solid;
    width: 519px;
    height: 519px;
}

.infoContainer{
    padding: 10px
}

.label{
    padding-right: 10px;
}

.input{
    border: none;
    border-bottom-style: solid;
    outline: 0px;
}