.container {
  border: solid 2px black;
  border-radius: 8px;
  width: auto;
  padding: 1rem;
  text-align: center;
  background-color: grey;
  max-width: 80%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.buttonsContainer button {
  border-style: hidden;
  justify-content: flex-end;
  border-radius: 8px;
  transition: 0.45s;
}
.buttonsContainer {
  display: flex;
  gap: 0.5rem;

}
.buttonsContainer button:hover {
  opacity: 0.75;
  transform: scale(102%);
}
.info {
  display: flex;
  flex-direction: column;
}
