.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: end;
  gap: 0.5rem;
  /* height: 100vh; */
}
.container h4 {
  text-align: center;
}

.hijo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hijo2 {
  border-radius: 20px;
  box-shadow: 8px 5px 25px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hijo2 h5 {
  color: black;
}
